body{
    margin:0px;
    display:flex;
    justify-content:center;
    background: radial-gradient(circle, #ffe25f, #7bfe9ed1);
}
#result
{   width:320px;
    height:50px;
    margin-bottom:40px;
    text-align:right;
    font-size:2em;
    padding:8px;
    border-radius:12px;
    border:none;
}
div{
    margin-top:200px;
    background-color:rgba(0, 128, 0, 0.503);
    padding:20px;
    border-radius:15px;
    box-shadow:3px 3px 7px 7px black;
}
.button-cool
{   margin-left:20px;
    margin-top:8px;
    height:60px;
    width:60px;
    border-radius:50%;
    border:none;
    background-color:rgba(0, 0, 0, 0.564);
    color:white;
    cursor:pointer;
    font-size:1.5em;
}
.button-cool:hover{
    background-color:rgba(0, 0, 0, 0.237);
}
